.widget-live-meetings {

	background-color: #00BFFF;

	color: #fff;

	#top {

		font-size: 40px;
	}


	table {
		margin: 8px;

		thead {
			font-weigh: 800;
			font-size: 35px;
		}


		td {
			font-weigh: 800;
			font-size: 30px;
		}
	
	}

}
