.widget-component {

	color: #000;
	.title{
		color: #23b4fb;
		padding-top: 13px;
	}
	background-color:#f0f0f0;

	.table {
		padding-right: 20px;
		
	}

	tbody{

	}

	.name {
		padding: 5px auto 5px auto;
	}

	i {
		font-size: 35px;
		color: #00B675;
	}

}