.widget-total-recorders {

.title{
	font-size: 30px;
}

#left {
	padding-left: 50px;
	float: left;
}

#right {
	padding-right: 50px;
	float: right;
}

.id {
	font-size: 25px;
}

.number {
	font-size: 40px;
}

.results {
	padding-top: 25px;
	margin: 0px auto 0px auto;
}

.fix {
	padding-top: 3em;
	background-color: #E04E39;
	color: #fff;
	height: 100%;
}

.healthy {
	padding-top: 3em;
	background-color: #00B675;
	color: #fff;
	height: 100%;
}

.message {
	margin-top: 2em;
	font-size: 30px;
}

}