<div class="gridster">
  <ul>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="zoom_s" data-view="Indicate" data-title="Zoom Status" style="background-color:#89cff0 "></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="zoom_c" data-view="Component" data-title="Zoom Services:" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="scheduled_main" data-view="ScheduledMaintenances" data-title="Scheduled Maintenances:" style="background-color:#963CBD
"></div>
    </li>



  </ul>
</div>