<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="zoom_c" data-view="Component" data-title="Zoom Status" style="background-color:#ff9618"></div>
    </li>


  </ul>
</div>