<script type='text/javascript'>
$(function() {

  Dashing.numColumns = 6
  
});
</script>
<% content_for :title do %>AV Dashinboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="zoom_c" data-view="Component" data-title="Services:"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="liveMeetings" data-view="LiveMeetings" data-title="Live Meetings"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="scheduled_main" data-view="ScheduledMaintenances" data-title="Scheduled Maintenances:"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="phone_cost" data-view="Telephony" data-title="Telephony cost:"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total_users" data-view="TotalUsers" data-title="Total Users"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_users" data-view="ActiveUsers" data-title="Active Users"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="incidents" data-view="Incident" data-title="Incidents:"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="recorders" data-view="TotalRecorders" data-title="Users With Record:"></div>
    </li> 

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bill_estimate" data-view="CostPerUser" data-title="Cost Per Users: "></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="new_users_today" data-view="NewUsersToday" data-title="New users today :"></div>
    </li>

  </ul>


</div>