.widget-telephony {
	color: #fff;
	background-color: #FFB600;
	

	#top {
		font-size: 40px;
	}

	.cycle {
		font-weight: 800;
	}

	i {
		font-size: 40px;
		color: #00B675;
	}

	.fa-phone-square {
	}

	table {
		thead {
			font-size: 20px;
			font-weight: 800;
			color: blue;	
		}
		
		td {
			font-size: 35px;
		}
	}

}